<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of rooms">

      <td>{{ r.id }}</td>
      <td> {{ r.name }}</td>
      <td> {{ r.email }}</td>
      <td>
        <button class="btn btn-primary" (click)="bookRoom(r)"> Book room</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card text-center" *ngIf="selectedRoom">
    <div class="card-header">
      # {{selectedRoom.id}}
    </div>
    <div class="card-block">
      <h4 class="card-title">{{selectedRoom.name}}</h4>
      <p class="card-text">
        {{selectedRoom.description}}
      </p>
    </div>

  </div>
</div>
