
<div class="container" style="margin-top: 70px;">
  <div id="header-info-container">
    <div id="room-name">Raum: <strong>{{roomAgenda.roomName}}</strong></div>
    <div id="current-date">{{ currentDateTime | date:'EEEE, dd.MM.'}}<br />
      {{ currentDateTime | date:'HH:mm'}} Uhr
    </div>
  </div>
    <table class="table table-hover">
    <tbody>
      <tr *ngFor="let appointment of roomAgenda.appointments" (click)="book(roomId, appointment)" class="{{appointment.blocked == false ? 'clickable' : '' }}">
        <td>{{ appointment.startTime|date: 'HH:mm' }} - {{ appointment.endTime|date: 'HH:mm'}}</td>
        <td class="strong">
          <p>{{ appointment.title }}</p>
          <p class="p name">{{ appointment.user }}</p>
        </td>
      </tr>
    </tbody>
    </table>
</div>
